<article class="comment <%= c.is_agree ? 'agreeComment' : 'disagreeComment'%>" data-comment-id="<%= c.id %>">
  <p class="commentInfo">
    <% active_class = Vote.where(user: current_user, comment_id: c.id).exists? ? 'active' : '' %>
    <i class="upvote glyphicon glyphicon-chevron-up <%= active_class %>"></i>
    <%= c.score %>
    &nbsp;
    <%= link_to c.user.name, c.user %>
  </p>
  <%= raw(c.render_content) %>
</article>
