<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info indexHeader">
        <div class="lead">
          <p>
            2Sided is a place where opinions are respectfully debated.
          </p>
          <p class="antiTroll">
            To maintain healthy debate, only post serious comments.  We're here to educate each other and learn from different perspectives.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="topicsFeed col-sm-9">
      <% if params[:category_name] %>
        <div class="alert alert-warning categoryFilterAlert">
          Opinions on <strong><%= @category.name.gsub(/-/, " ").titlecase %></strong>
          <a href="/" class="pull-right removeFilters">
            <small>Remove Filter</small> <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
      <% end %>

      <% @topics.each do |topic| %>
        <div class="topicContainer">
          <div class="topic">
            <p class="smallCaps topicMetaInfo">
              <img class="squareAvatar"
              src="https://graph.facebook.com/<%= topic.user.uid %>/picture?width=32&height=32"
              height="14px">
              opinion on

              <%= topic.categories.map { |cat| link_to(cat.name.downcase, "/category/#{cat.name.parameterize}") }.join(', ').html_safe %>
            </p>

            <h4 class="title">
              <%= link_to topic.title, topic, class: "topicLink" %>
            </h4>

            <%= render partial: "vote_buttons_and_form", locals: {topic: topic} %>

          </div>
        </div>
      <% end %>
    </div>
    <div class="categoryContainer col-sm-3">
      <h3 class="contentHeader">filter</h3>
      <ul class="filters">
        <% Category.all.each do |category| %>
          <%
            if category.topics.count == 0
              next
            end
          %>
          <% active_class = category == @category ? 'active' : '' %>
          <% link = category == @category ? '/' : '/category/' + category.name.parameterize %>
          <li class="<%= active_class %>">
            <a href="<%= link %>"
              data-toggle="tooltip"
              data-placement="top"
              title="<%= category.description %>">
              <%= category.name.gsub( /-/, ' ' ).downcase %>
              <span class="count">
                <%= category.topics.count %>
              </span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


