<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<%= notice %>

				<% if false %>
					<div class="btn-group pull-right">
						<% if @topic.user == current_user %>
							<%= link_to topic_path(@topic), method: "delete", class: "btn btn-danger btn-sm" do %>
								<i class="glyphicon glyphicon-remove"></i>
								Delete Topic
							<% end %>
						<% end %>
					</div>
				<% end %>

				<h1><%= @topic.title %></h1>
				<p class="countDown">
					<span>Ends in </span><span class="time">
					<%= pluralize(@time_left[:hours], "hours") %> <%= pluralize(@time_left[:minutes], "minutes") %></span>
				</p>

				<% if false %>
					<p class="topicMetaInfo">
						<span class="text-muted">submitted <%= time_ago_in_words(@topic.created_at) %> ago by</span>
						<%= link_to @topic.user.name, @topic.user %>
					</p>
				<% end %>
			</div>
		</div>
	</div>
</header>

<% agree_active_class = current_user && @topic.agree_votes.where(is_agree: true, user_id: current_user.id).count > 0 ? 'active' : '' %>
<% disagree_active_class = current_user && @topic.agree_votes.where(is_agree: false, user_id: current_user.id).count > 0 ? 'active' : '' %>

<section class="voteButtonsContainer">
	<div class="container clearfix">
		<div class="agreeVoteContainer">
			<button class="topicAgreeBtn btn btn-default smallCaps <%= agree_active_class %>" data-is-agree="1">
				agree
				<small class="agreeVoteCount">
					<%= @topic.agree_votes_override ? @topic.agree_votes_override : @topic.agree_votes.where(is_agree: true).count %>
				</small>
			</button>
		</div>
		<div class="disagreeVoteContainer">
			<button class="topicDisagreeBtn btn btn-default smallCaps <%= disagree_active_class %>" data-is-agree="0">
				disagree
				<small class="disagreeVoteCount">
					<%= @topic.disagree_votes_override ? @topic.disagree_votes_override : @topic.agree_votes.where(is_agree: false).count %>
				</small>
			</button>
		</div>
	</div>
	<div class="agreeBorder"></div>
	<div class="disagreeBorder"></div>
</section>

<main>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">

				<div class="agreeCommentForm hidden">
			    <br/>
			    <%= form_for Comment.new do |f| %>
			      <%= f.hidden_field :topic_id, value: @topic.id %>
			      <%= f.hidden_field :is_agree, value: 1 %>
			      <div class="form-group">
			        <label>Why do you agree? <small class="text-muted">Optional</small></label>
			        <% placeholder_text = 1 ? "Why do you agree?" : "Why do you disagree?" %>
			        <%= f.text_area :content, rows: 10, class: "form-control", placeholder: "Enter explanation..." %>
			      </div>
			      <%= f.submit class: "submitCommentBtn btn btn-small btn-primary", value: "Post" %>
			    <% end %>
			  </div>

				<section class="comments">
					<% if @agree_comments.count > 0 %>
						<% @topic.comments.where(is_agree: true).order(votes_count: :desc).each do |c| %>
							<%= render partial: "comment", locals: {c: c} %>
						<% end %>
					<% else %>
						<br/>
						<h5 class="text-muted">No comments for "agree".</h5>
					<% end %>
				</section>
			</div>

			<div class="col-sm-6">
				<div class="disagreeCommentForm hidden">
			    <br/>
			    <%= form_for Comment.new do |f| %>
			      <%= f.hidden_field :topic_id, value: @topic.id %>
			      <%= f.hidden_field :is_agree, value: 0 %>
			      <div class="form-group">
			        <label>Why do you disagree? <small class="text-muted">Optional</small></label>
			        <% placeholder_text = 0 ? "Why do you agree?" : "Why do you disagree?" %>
			        <%= f.text_area :content, rows: 10, class: "form-control", placeholder: "Enter explanation..." %>
			      </div>
			      <%= f.submit class: "submitCommentBtn btn btn-small btn-primary", value: "Post" %>
			    <% end %>
			  </div>

				<section class="comments">
					<% if @disagree_comments.count > 0 %>
						<% @topic.comments.where(is_agree: false).order(votes_count: :desc).each do |c| %>
							<%= render partial: "comment", locals: {is_agree: false, c: c} %>
						<% end %>
					<% else %>
						<br/>
						<h5 class="text-muted">No comments for "disagree".</h5>
					<% end %>
				</section>
			</div>
		</div>
	</div>
</main>
