<a class="tag label greenLabel label-default"
  href="/topics?sort=<%= params[:sort] %>&tag=<%= category.name.parameterize %>"
  data-toggle="tooltip"
  data-placement="top"
  title="<%= category.description %>">
  <%= category.name %>
  <% if show_count %>
  	x <%= category.topics.count %>
  <% end %>
</a>
