<!DOCTYPE html>
<html>
<head>
  <title>The Daily Debate</title>
  <%= include_gon %>
  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    params[:controller] + "_" + params[:action] %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] + "_" + params[:action] %>
  <%= csrf_meta_tags %>

</head>
<body>
	<%= render "layouts/daily_top_nav" %>

	<%= yield %>

  <%= render "layouts/footer" %>

  <%= render "layouts/google_analytics" %>
  <%= render "layouts/mixpanel" %>
  <script>
    mixpanel.track("Testing");
  </script>
</body>
</html>
